@media only screen and (max-width:800px) {




    .section, .dream-section, .exprience-card{
        display: block;
    }
    .profile-pic img{
        width: 70%;
        margin: auto;

    }
    .section-title, .dream-text{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
       }
       .section-title h1{
           text-align: center;
           padding: 5px;
          }
       .section-title p{
           padding: 10px;
           margin-top: 10px;
           text-align: justify;
          }

          /* dream secttion */

          .dream-text{
            text-align: center;
            padding: 5px;
           }
           .dream-text p{
            padding: 10px;
            margin-top: 10px;
            text-align: justify;
           }
           .dream-img img{
            width: 80%;
            margin: auto;
            padding-left: 10%;
        }
        .exprience-card{
    
            background-repeat: no-repeat;
            background-size: contain;
        }
    
}