@media only screen and (max-width:800px) {




    .section, .dream-section, .exprience-card{
        display: block;
    }
    .profile-pic img{
        width: 100%;
        margin: auto;

    }
    .section-title, .dream-text{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
       }
       .section-title h1{
           text-align: center;
           padding: 5px;
          }
       .section-title p{
           padding: 10px;
           margin-top: 10px;
           text-align: justify;
          }

          /* dream secttion */

          .dream-text{
            text-align: center;
            padding: 5px;
           }
           .dream-text p{
            padding: 10px;
            margin-top: 10px;
            text-align: justify;
           }
           .dream-img img{
            width: 100%;
            margin: auto;
            padding-left: 10%;
        }
        .exprience-card{
    
            background-repeat: no-repeat;
            background-size: contain;
        }

        .section-skill{
            display: block;
        }
        .progress-container{
            display: block;
            width: 100%;
        }

        /* contact form */
        .col-01, .col-02 {
            text-align: left;
            width: 100%;
            margin-top: 0;
          }
          #submit{
              width: 100%;
              padding: 10px;
              margin-right: 0;
          }
}