* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

/* both */
body{
    align-items: center;
    justify-content: center;
}

.link-button a{
    color: white;
    text-decoration: none;
    background-color: #34339A;
    padding: 2px 10px;
    border-radius: 20px;
    
}
.link-button a:hover{
    color: #34339A;
    background-color: white;
    border: 2px solid #34339A;

}

.title-color{
 color: #34339A;
}

.section, .dream-section, .exprience-card{
    display: flex;
    padding: 30px;
}
.section-title p, .dream-text p{
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
   }


/* first section */


.section{
    background-repeat: no-repeat;
    background-size: 100%;
}

.section-title{
 width: 50%;
 padding-top: 5%;
 padding-right: 15%;
}

.section-title h1{
    font-size: 50px;
   }

.profile-pic img{
    padding-top: 5%;
    width: 50%;
    padding-left: 25%;
}


/* dream section */

.dream-text{
    width: 50%;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 10%;
   }

.dream-text h1{
    font-size: 40px;
   }

.dream-img img{
    padding-top: 5%;
    width: 50%;
    padding-right: 15%;

}
.dream-section-full{
    background-repeat: no-repeat;
    background-size: 100%;
    
}

/* exprience */
.head-text h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}
.card{
 position: relative;
 width: 300px;
 height: 400px;
 margin: 30px;
 box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
 border-radius: 15px;
 border-top: rgb(255, 255, 255, 0.5);
 border-left: rgb(255, 255, 255, 0.5);
 background:rgb(255, 255, 255, 0.1);
 backdrop-filter: blur(5px);
 justify-content: center;
 align-items: center;

}
.card h2, h4, p{
    padding: 10px 10px;
    text-align: center;
}

.exprience-card{
    background-repeat: no-repeat;
    background-size: contain;
}

footer{
    text-align: center;
    background-color: #7f7cd681;
    padding: 20px;
}