* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
:root { --particular-ad: url(img/exp1-bg.png); }

@media (max-width: 800px) {
    :root { --particular-ad: url(img/mvbg.png); }
}



/* side_icon */

.side-bar{
    position: sticky;
    top: 40%;
    width: 50px;
    z-index: 5;

    
}
.side-bar i{
    display: block;
    font-size: 40px;
    color: #34339A;
    padding: 10px;
    transition: transform .1s;

    
}
.side-bar i:hover{
    color: #ff6600;
    /* color: #FF475E; */
    transform: scale(1.01);

    
}

/* both */
body{
    align-items: center;
    justify-content: center;
}

.link-button a{
    color: white;
    text-decoration: none;
    background-color: #34339A;
    padding: 2px 10px;
    border-radius: 20px;
    transition: transform .1s;
    
}
.link-button a:hover{
    color: #34339A;
    background-color: white;
    border: 2px solid #34339A;

}
.link-button:hover{
    transform: scale(1.1);

}

.title-color{
 color: #34339A;
}
.title-color-02{
    color: #ff6600;
}

.section, .dream-section, .exprience-card{
    display: flex;
    padding: 30px;
}
.section-title p, .dream-text p{
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
   }


/* first section */


.profile{
    background-repeat: no-repeat;
    background-size: 100%;
}

.section-title{
 width: 50%;
 padding-right: 15%;
}

.section-title h1{
    font-size: 50px;
   }

.profile-pic img{
    width: 50%;
    padding-left: 25%;
    transition: transform .1s;
}
.profile-pic img:hover{
    transform: scale(1.1);
}


/* dream section */

.dream-text{
    width: 50%;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 10%;
   }

.dream-text h1{
    font-size: 40px;
   }

.dream-img img{
    padding-top: 5%;
    width: 50%;
    padding-right: 15%;

}

.dream-section-full{
    background-repeat: no-repeat;
    background-size: 100%;
    
}

/* exprience */
.head-text h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}
.card{
 position: relative;
 width: 300px;
 height: 400px;
 margin: 30px;
 box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
 border-radius: 15px;
 border-top: rgb(255, 255, 255, 0.5);
 border-left: rgb(255, 255, 255, 0.5);
 background:rgb(255, 255, 255, 0.1);
 backdrop-filter: blur(5px);
 transition: transform .1s;
 justify-content: center;
 align-items: center;

}

.card:hover{

    transform: scale(1.1);

}





.card h2, h4, p{
    padding: 10px 10px;
    text-align: center;
}

.exprience-card{
    background-repeat: no-repeat;
    background-size: contain;
}

/* my skills */

.section-skill{
    display: flex;
    text-align: center;
    align-items: center;
}

.progress-container{
    display: block;
    width: 50%;
}
.progress-bar{
    margin: 10px 20px;
    border: 1px solid #34339A;
    border-radius: 15px;
}

.skill {
    background-color: #34339A;
    color: white;
    padding: 1%;
    font-size: 12px;
    border-radius: 15px;
}

.web-design{
    width: 75%;
}
.web-dev{
    width: 75%;
}
.ui-ux{
    width: 60%;
}
.Wordpress{
    width: 82%;
}
.photoshop{
    width: 88%;
}
.photoshop{
    width: 88%;
}

.html-css{
    width: 88%;
}






footer{
    text-align: center;
    background-color: #7f7cd681;
    padding: 20px;
}